.mains
	h1 АСКОМЕД ДЛЯ МОБИЛЫ
	ul
		li
			a(href="./main.html") Главная
		li
			a(href="./product.html") Карточка товара
		li
			a(href="./pay.html") Оплата
		li
			a(href="./thanks.html") Благодарность