extends ../views/layouts/default
block variables
	- var title = "Главная";
	- var main = true;
	- var footer = true;
	- var desktop = true;
	- var mobile = false;

block content
	main
		.container
			.main
				span._text Или выберите из списка
				._block
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
				.pagination
					.pagination-num
						a(href="#") 1
						a(href="#") 2
						a(href="#") 3
						a(href="#") ...
						a(href="#") 9
					a(href="#").pagination-arrow.pagination-arrow__prev
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" viewBox="0 0 25 16" fill="none">
							<path d="M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM25 7L1 7V9L25 9V7Z" fill="#005AA5"/>
						</svg>
					a(href="#").pagination-arrow.pagination-arrow__next
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" viewBox="0 0 25 16" fill="none">
							<path d="M24.7071 7.29289C25.0976 7.68342 25.0976 8.31658 24.7071 8.70711L18.3431 15.0711C17.9526 15.4616 17.3195 15.4616 16.9289 15.0711C16.5384 14.6805 16.5384 14.0474 16.9289 13.6569L22.5858 8L16.9289 2.34315C16.5384 1.95262 16.5384 1.31946 16.9289 0.928932C17.3195 0.538408 17.9526 0.538408 18.3431 0.928932L24.7071 7.29289ZM0 7L24 7V9L0 9L0 7Z" fill="#005AA5"/>
						</svg>