extends ../views/layouts/default
block variables
	- var title = "Главная";
	- var main = true;
	- var footer = true;
	- var desktop = true;
	- var mobile = false;

block content
	main
		.container
			.main
				span._text Или выберите из списка
				._block
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")
					+card("Инфанрикс гекса", "Дифтерия, стобняк, коклюш, полиомиелит, гепатит B, гемофильная", "Флакон + шприц 0.5 мл.", "10000 р.")