extends ../views/layouts/default
block variables
	- var title = "Карточка с товаром";
	- var main = true;
	- var footer = true;
	- var desktop = false;
	- var mobile = true;

block content
	main
		.container
			.product
				._content
					p Препарат
					span._title Иммуноглобулин п/в клещевого энцефалита
					p Производитель
					span._country Россия
					p Название услуги
					span._name Серопрофилактика клещевого энцефалита
					p Дозировка
					span._dosage
						<svg xmlns="http://www.w3.org/2000/svg" width="12" height="15" viewBox="0 0 12 15" fill="none">
							<path d="M6 2.06667L2.7 5.36667C2.04741 6.01933 1.603 6.85085 1.42297 7.75609C1.24294 8.66132 1.33539 9.5996 1.68861 10.4523C2.04183 11.305 2.63997 12.0338 3.40739 12.5466C4.17481 13.0593 5.07704 13.333 6 13.333C6.92296 13.333 7.82519 13.0593 8.59261 12.5466C9.36003 12.0338 9.95817 11.305 10.3114 10.4523C10.6646 9.5996 10.7571 8.66132 10.577 7.75609C10.397 6.85085 9.9526 6.01933 9.3 5.36667L6 2.06667ZM6 0.181335L10.2427 4.424C11.0818 5.26312 11.6532 6.33222 11.8847 7.4961C12.1162 8.65999 11.9974 9.86638 11.5433 10.9627C11.0891 12.0591 10.3201 12.9962 9.33342 13.6554C8.34672 14.3147 7.18669 14.6666 6 14.6666C4.81332 14.6666 3.65328 14.3147 2.66659 13.6554C1.6799 12.9962 0.91086 12.0591 0.456732 10.9627C0.00260456 9.86638 -0.11622 8.65999 0.115286 7.4961C0.346791 6.33222 0.918228 5.26312 1.75734 4.424L6 0.181335ZM2.66667 8.66667H9.33333C9.33333 9.55072 8.98215 10.3986 8.35702 11.0237C7.7319 11.6488 6.88406 12 6 12C5.11595 12 4.2681 11.6488 3.64298 11.0237C3.01786 10.3986 2.66667 9.55072 2.66667 8.66667Z" fill="#ffffff"/>
						</svg>
						span Флакон + шприц 0.5 мл.
					span._service Вакцина + введение
			a(href="#").pay-btn Оплатить
	.modals
		.modal
			a(href="#")._close
				<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
					<path d="M7 5.58599L11.95 0.635986L13.364 2.04999L8.414 6.99999L13.364 11.95L11.95 13.364L7 8.41399L2.05 13.364L0.636002 11.95L5.586 6.99999L0.636002 2.04999L2.05 0.635986L7 5.58599Z" fill="#607D8B"/>
				</svg>
			span._title Расчет дозировки
			span._subtitle Для расчета дозировки укажите свой вес
			input(type="text" placeholder="0 кг." id="modals")
			p Всего к оплате
			span._cost 5240 р.
			a(href="#")._btn.disabled-btn Перейти к оплате
